<!DOCTYPE html>
<html>
<body>
<form action="/signupD" method="post">
  First name:<br>
  <input type="text" name="FName"><br>
  Last name:<br>
  <input type="text" name="LName"><br>
  DSSN:<br>
  <input type="number" name="DSSN"><br>
  Email:<br>
  <input type="email" name="Email"><br>
  Password:<br>
  <input type="password" name="Password"><br>
  Confirm Password:<br>
  <input type="password" name="ConfirmPassword"><br>
  Phone:<br>
  <input type="number" name="Phone"><br>
  Department name:<br>
  <input type="text" name="Dname"><br>
  <button type="submit">Sign Up</button>

</form>
</body>
</html>